@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td {margin:0;padding:0;}
body {font-size: 14px; color: #333; margin:0px;background:#F8F8F8;}
a{ color:#333; text-decoration:none;}
a:active, a:hover{ color: #333; text-decoration:none;}
:focus{outline:0}
img { border-style: none;}
table {border-collapse:collapse;border-spacing:0;}
ol,ul,dl {list-style:none;}
li{ list-style:none;}
input,button{ vertical-align:middle}
.clear{display:block;height:0;clear:both;content:"";overflow:hidden;visibility:hidden;}

